<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `information-card`
     * informacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
