<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
      }

      /* Para desbordamiento de texto y hacer que solo este en una cosla linea */
      /* h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      } */

      .container {
        border: 1px solid red;
        margin: 0 auto;
      }

      .container-article {
        border: 1px solid green;
        margin: 0 auto;
        width: 80%;
      }

      .button{
        display: block;
        margin: 0 auto;
      }

    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->

    <section class="container">
      <article class="container-article">
        <h1>Confirmation!</h1>
        
        <label for="labelUno">Label</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        
        <label for="labelDos">Label</label>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        
        <label for="labelTres">Label</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        
        <button class="button">Button</button>
      </article>
    </section>
      
  </template>

  <script>
    /**
     * `information-card`
     * informacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
